@import 'variables';
@import 'background';
@import 'searchbar';
@import 'searchresult';


.App{
    //overflow-y: auto;
    height: 100vh;
    width: 100vw;
    .heading{
        margin: auto;
        color: $colorHeading;
        text-align: center;
        font-family: 'Star Wars', sans-serif;
            
        h1{
            font-size: 5.5rem;
            letter-spacing: .3rem;
            //line-height: 20rem;
            margin-top: 5rem;
        }
        h2{
            font-size: 3rem;
        }
    }
}

@media screen and (max-width: 768px){
    .App{
        .heading{
            h1{
                font-size: 4rem;
            }

            h2{
                font-size: 1.5rem;
            }
        }
    }
}