.App{
    .searchBar{
        // margin: auto;
        // text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            height: 3rem;
            max-width: 640px;
            width: 100%;
            border: solid $colorHeading .3rem;
            border-radius: .2rem;
            background: #333;
            color: #fff;
            font-size: 1rem;
            padding-left: 10px;
        }
        .icon{
            color: #333;
            padding-right: 7px;
            padding-left: 14px;
            margin-right: -4px;
            background: $colorHeading;
            width: 4%;
            height: 3.65rem;
            border-radius: .2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 50%;
                height: 3rem;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .App{
        .searchBar{
            input{
                width: 80%;
            }
            .icon{
                svg{
                    height: 3rem;
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 498px){
    .App{
        .searchBar{
            input{
                // font-size: .6rem;
            }
            .icon{
                width: 6%;
                height: 4rem;
                svg{
                    width: 110%;
                    height: 105%;
                    height: 3rem;
                }
            }
        }
    }
}