.App{
    overflow-x: auto;
    .cards{
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            max-width: 56.25rem;
            width: 100%;
            margin: auto;
            margin-top: 2rem;
            list-style: none;  
            li{
                color: #fff;
                width: 15.625rem;
                border: 1px solid $colorHeading;
                text-align: center;
                margin-bottom: 1.25rem;
                border-radius: 0.25rem;
            }
        }
    }
}