.App{
    .searchBar{
        // margin: auto;
        // text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            height: 3rem;
            width: 45%;
            border: solid $colorHeading .3rem;
            border-radius: .2rem;
            background: #333;
            color: #fff;
            font-size: 2rem;
        }
        .icon{
            color: #333;
            padding-right: 7px;
            padding-left: 14px;
            margin-right: -4px;
            background: $colorHeading;
            width: 4%;
            height: 3.65rem;
            border-radius: .2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 50%;
                height: 3rem;
            }
        }
    }
}